asgiref==3.8.1 ; python_version >= "3.10" and python_version < "4.0"
certifi==2025.4.26 ; python_version >= "3.10" and python_version < "4.0"
charset-normalizer==3.4.2 ; python_version >= "3.10" and python_version < "4.0"
django-cors-headers==4.7.0 ; python_version >= "3.10" and python_version < "4.0"
django-environ==0.11.2 ; python_version >= "3.10" and python_version < "4"
django-filter==24.3 ; python_version >= "3.10" and python_version < "4.0"
django==5.2.1 ; python_version >= "3.10" and python_version < "4.0"
djangorestframework-simplejwt==5.5.0 ; python_version >= "3.10" and python_version < "4.0"
djangorestframework==3.16.0 ; python_version >= "3.10" and python_version < "4.0"
gunicorn==22.0.0 ; python_version >= "3.10" and python_version < "4.0"
idna==3.10 ; python_version >= "3.10" and python_version < "4.0"
markdown==3.8 ; python_version >= "3.10" and python_version < "4.0"
mysqlclient==2.2.7 ; python_version >= "3.10" and python_version < "4.0"
packaging==25.0 ; python_version >= "3.10" and python_version < "4.0"
pillow==10.4.0 ; python_version >= "3.10" and python_version < "4.0"
pyjwt==2.9.0 ; python_version >= "3.10" and python_version < "4.0"
python-dotenv==1.1.0 ; python_version >= "3.10" and python_version < "4.0"
requests==2.32.3 ; python_version >= "3.10" and python_version < "4.0"
sqlparse==0.5.3 ; python_version >= "3.10" and python_version < "4.0"
typing-extensions==4.13.2 ; python_version >= "3.10" and python_version < "3.11"
tzdata==2025.2 ; python_version >= "3.10" and python_version < "4.0" and sys_platform == "win32"
urllib3==2.4.0 ; python_version >= "3.10" and python_version < "4.0"
whitenoise==6.9.0 ; python_version >= "3.10" and python_version < "4.0"